<nav>
    <ul>
        <li id="pitwall-dashboard"><a href="/race_dashboard.html">Race Overview</a></li>
        <li id="pq-dashboard"><a href="/car_health_dashboard.html">Practice/Quali Helper</a></li>
        <li id="roomInfo"><a href="/room_info.html">Room Info</a></li>
        <li style="border: None; background: #0d0f1d; margin-left: 25px;"> Status: <span id="status-text">Stopped</span></li>
        <li style="border: None; background: #0d0f1d; margin-left: 25px; margin-right: 25px;"> iRacing Connection: <span id="iracing-status">Disconnected</span></li>
        <button class="action-button start-btn" id="start-stream-btn">Start Stream</button>
        <button class="action-button stop-btn" id="stop-stream-btn">Stop Stream</button>
        <button class="action-button close-btn" id="close-window-btn">✕</button>
    </ul>
</nav>